


<%= simple_form_for @idea, html: {multipart: true} do |f| %>

  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :title  %>
  <%= f.input :desc %>
  <%= f.input :progress, collection: 1..5 %>
  <%= f.input :tag_list %> 
  <%= f.filepicker_field :pictures, dragdrop: true, store_location: "S3", name: "pictures[filepicker_url][]", multiple: "true", mimetypes: "image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/tiff" %>
  <%= f.button :submit %>
<% end %>
