<p id="notice"><%= notice %></p>

<!--carousel image slider-->

<div class="container">
<div class="row">
<div class="box">
<div class="col-lg-12 text-center"><!-- find col class for appropriate design-->

	<div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag('slide-1.jpg')%>
                 	 <div class="container">
	            		<div class="carousel-caption">
	              		<h1>Example headline.</h1>
                		</div>
                	</div>
                </div>
                <div class="item">
                  <%= image_tag('slide-2.jpg')%>
                </div>
                <div class="item">
                  <%= image_tag('slide-3.jpg')%>
                </div>
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
          </div>
</div>
</div>
</div>
<!--end image slider-->

<!--side bar for project profile here-->

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @idea.desc %>
</p>

<p>
  <b>Featured:</b>
  <%= @idea.featured %>
</p>

<p>
  <b>Progress:</b>
  <%= @idea.progress %>
</p>

<% @idea.pictures.each do |picture| %>
	<%= filepicker_image_tag picture.filepicker_url, w: 436, fit: 'clip' %>

<% end %>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
