 <!-- basic carousel-->
<div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag('slide-1.jpg', :size=>"600x400")%>
                   <div class="container">
                  <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <%= image_tag('slide-2.jpg')%>
                </div>
                <div class="item">
                  <%= image_tag('slide-3.jpg')%>
                </div>
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
          </div>

<!--end of carousel-->

    
    <div class="container">

      <div class="jumbotron hero-spacer">
        <h1>Welcome to Idea Bakery!</h1>
        <p>Introduce your website content using this jumbotron! It's an awesome way to call attention to something that needs to be read! It's also a great alternative to using a banner image if you don't have a good quality picture!</p>
        <p><a class="btn btn-primary btn-large">Learn more</a></p>
      </div>
     


      <hr>
      
      <div class="row">
        <div class="col-lg-12">
           <h3>Featured Ideas</h3>
        </div>
      </div><!-- /.row -->
      
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcQU2A63-Uh932FVCRCzKvp7us3kRicMlZBHIgwGuG2oEtN6ctGw" alt="">
            <div class="caption">
              <h3>Cool Idea 1</h3>
              <p>This would be a great spot to put idea descriptions!</p>
              <p><a href="#" class="btn btn-primary">Like</a> <a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="http://teenangster.net/wp-content/uploads/2011/09/tiger-poster-800x500.jpg" alt="">
            <div class="caption">
              <h3>Cool Idea 2</h3>
              <p>This would be a great spot to put idea descriptions!</p>
              <p><a href="#" class="btn btn-primary">Like</a> <a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="http://cullogo.com/full/wallpapers-positive-attetued-golden-dream-800x500.jpg" alt="">
            <div class="caption">
              <h3>Cool Idea 3</h3>
              <p>This would be a great spot to put idea descriptions!</p>
              <p><a href="#" class="btn btn-primary">Like</a> <a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="http://dailyiphoneblog.com/wp-content/uploads/2011/09/mzl.jqclerkp.800x500-75.jpg" alt="">
            <div class="caption">
              <h3>Cool Idea 4</h3>
              <p>This would be a great spot to put idea description!</p>
              <p><a href="#" class="btn btn-primary">Like</a> <a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>


      </div><!-- /.row -->
      
      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company 2013 &middot;<a href="http://www.facebook.com">Facebook</a> &middot; <a href="http://www.twitter.com">Twitter</a> &middot; Google+</p>
          </div>
        </div>
      </footer>
      
    </div><!-- /.container -->

  <!-- javascript -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>

  </body>

</html>

<%= link_to "Users", users_path %>
<%= link_to "Ideas", ideas_path %>
<%= link_to "Login", login_path %>