<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @update.desc %>
</p>

<p>
  <b>Desc:</b>
  <%= @update.desc %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
