<!DOCTYPE html>
<html lang="en">
<title>Idea bakery</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%=image_tag("test logo.png", :size => "80x50")%>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#"> &nbsp; &nbsp; &nbsp;About &nbsp; &nbsp; &nbsp;</a></li>
      <li><a href=".."> &nbsp; &nbsp; &nbsp;Home &nbsp; &nbsp; &nbsp; </a></li>
   
      <li><a href="ideas"> &nbsp; &nbsp; &nbsp;Ideas &nbsp; &nbsp; &nbsp;</a></li>

      <li><a href="projects"> &nbsp; &nbsp; &nbsp;Projects &nbsp; &nbsp; &nbsp;</a></li>
<!-- possibly use li with &nbsp; for padding-->
      
      <li><a href="Help"> &nbsp; &nbsp; &nbsp;Help &nbsp; &nbsp; &nbsp;</a></li>      
      <li><a href="login"> &nbsp; &nbsp; &nbsp;Login</a></li>
          </ul>
      <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            </div></form></div>
           
      <!--<li>
    
        <form class="navbar-form navbar-right" role="search">
            <input type="text" class="form-control" placeholder="Search">
            <span class="glyphicon glyphicon-search"></span>
        </form>
          
        </li>-->

  

  </div><!-- /.navbar-collapse -->
</nav>
    <title>Sharing is Caring</title>

  </head>

  <body>
  		<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

        <%= yield %>

  </body>
</html>